tr
    th
        label
            input.checkbox(id="#{domain.id}" type="checkbox")


    td
        div.flex.items-center.space-x-3
            div.avatar

            div.flex.justify-between.gap-2
                span.badge.badge-secondary #{domain.HTTPS ? "HTTPS" : "HTTP"}
                span.font-bold #{domain.domain}


    td
        div.flex.items-center.space-x-3
            button.btn.btn-sm.btn-primary(id="edit-#{domain.id}") Edit
            button.btn.btn-sm.btn-error(id="delete-#{domain.id}") Delete

script.


    $('#delete-#{domain.id}').on('click', function() {
        const domainId = "#{domain.id}";
        const domain = "#{domain.domain}";

        $.ajax({
            url: `/dashboard/domains/delete/${domainId}`,
            type: 'DELETE',
            success: function(result) {
                location.reload()
            }
        })
    })


